@media (min-width: 760px) {
    header{
        align-items: center;
        background-color: var(--primary);
        display: flex;
        justify-content: space-between;
    }

    header nav{
        display: block;
        padding: 0;
        width: 30rem;
    }

    header nav ul{
        display: flex;
        justify-content: space-between;
        padding: 1rem;;
    }

    header nav ul li{
        margin: auto;
    }

    header nav ul li a{
        font-family: var(--primary-font);
        font-size: 1.5rem;
        cursor: pointer;
    }

    button{
        display: none;
    }

    main { 
        max-width: 80%;
        margin: 0 auto;
        padding: 1rem;
    }

    .cards-container {
        display: grid;
        font-family: var(--secondary-font);
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        justify-content: center;
    }
}