@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-font: "Montserrat", Segoe UI, sans-serif;
    --secondary-font: "Roboto", Segoe UI, sans-serif;
    --primary: #192BC2;
    --secondary: #446ad1;
    --dark: #0E0E52;
    --white: #F4F3F1;
}

*{
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.header-container{
    align-items: center;
    background-color: var(--primary);
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    padding: 1rem;
}

.header-container p{
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: bold;
}

.header-container button{
    font-size: 1.8rem;
    font-weight: bold;
    border: 0;
    background: none;
    color: var(--white);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.header-container button::before {
    content: "☰";
}

.header-container button.opened::before {
    content: "❌";
}


nav{
    background-color: var(--primary);
    display: none;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    position: relative;
}

.opened{
    display: block;
}

nav ul li {
    list-style: none;
    margin-bottom: 0.8rem;
}

nav ul li a{
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--secondary);
    font-weight: bold;
}

main { 
    max-width: 90vw;
    margin: 0 auto;
    padding: 1rem;
}

main h1{
    color: var(--dark);
    font-family: var(--primary-font);
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
}

.cards-container {
    display: grid;
    gap: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.cards-container figure figcaption{
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.cards-container figure img{
    background-color: blueviolet;
    height: auto;
    object-fit: cover;
    width: 100%;
}

footer{
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: 1.8rem;
    justify-content: center;
    height: 12vh;
}

#lastModified{
    color: yellow;
    font-size: 1.5rem;
}